@import "./forkongithub.scss";
@import "../app/app.scss";

.latticework-logo {
    background-image: url('../assets/latticework-logo.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    -moz-background-size: 128px 128px;
    -o-background-size: 128px 128px;
    -webkit-background-size: 128px 128px;
    background-size: 128px 128px;
    padding: 0 16px 0 0;
    white-space: nowrap;
    height: 128px;
    display: block;
}
