@import "./forkongithub.scss";
@import "../app/app.scss";

.latticework-logo {
    background: url('../assets/latticework-logo.jpg') center right no-repeat;
    -moz-background-size: 128px;
    -o-background-size: 128px;
    -webkit-background-size: 128px;
    background-size: 128px;
    padding: 0 16px 0 0;
    white-space: nowrap;
}
