<!DOCTYPE html>
<!-- https://raw.github.com/olton/Metro-UI-CSS/master/public/header.php -->
<html ng-app="App" ng-controller="AppCtrl">
    <head>
        <title>proto-ng-breeze-edge</title>

        <meta charset="utf-8">
        <%
        // See http://developer.android.com/guide/webapps/targeting.html %>
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">

        <meta name="description" content="Prototype Singe Page Application (SPA) built using AngualrJS, BreezeJS, EdgeJS, and Typescript.">
        <meta name="author" content="Latticework">
        <meta name="keywords" content="angular, angularjs, breeze, breezejs, edge, edgejs, example">

        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@latticeworkjs">
        <meta name="twitter:title" content="proto-ng-breeze-edge">
        <meta name="twitter:description" content="Prototype Singe Page Application (SPA) built using AngualrJS, BreezeJS, EdgeJS, and Typescript.">
        <meta name="twitter:creator" content="@latticeworkjs">
        <meta name="twitter:image:src" content="http://en.gravatar.com/latticeworkjs#photo-0">
        <%  
        // meta property is a known validation error of Open Graph
        // http://wiki.whatwg.org/wiki/MetaExtensions#Proposals_that_don.27t_meet_the_requirements_for_a_registration %>
        <meta property="og:title" content="proto-ng-breeze-edge" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://github.com/latticework/proto-ng-breeze-edge" />
        <meta property="og:image" content="http://en.gravatar.com/latticeworkjs#photo-0" />
        <meta property="og:description" content="Prototype Singe Page Application (SPA) built using AngualrJS, BreezeJS, EdgeJS, and Typescript.">

        <!-- compiled CSS --><%
        styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><%
        }); %>

        <% 
        // http://docs.angularjs.org/api/ng.directive:ngCloak In comments: Use !important 
        // TODO: just cloak a portion of the app. %>
        <style>
            [ng-cloak] {
                display: none !important;
            }
        </style>
    </head>
    <body><%
        // http://codepo8.github.io/css-fork-on-github-ribbon/ %>
        <span id="forkongithub"><a href="https://github.com/latticework/proto-ng-breeze-edge">Fork me on GitHub</a></span>
        <div />
        <footer id="info">
            <p>Double-click to edit a todo</p>
            <p>by: <a href="https://github.com/latticework" class="latticework-logo">Latticework</a></p>
        </footer>
        <!-- compiled scripts --><%
        scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><%
        }); %>
    </body>
</html>